= render 'mercari/progress'
%main.single-main
  %section.l-single-container
    %h2.l-single-head__registration 会員情報入力
    .l-single-head__registration__form
      .l-single-content
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .l-single-content__nickname
            = f.label :"ニックネーム"
            %span.l-single-content__require 必須
            %br/
            = f.text_field :nickname, autofocus: true, placeholder: "例) メルカリ太郎"
          .l-single-conten__email
            = f.label :"メールアドレス"
            %span.l-single-content__require 必須
            %br/
          - if(@sns != 1)
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例)PC.携帯どちらでも可"
          .l-single-conten__password
            = f.label :"パスワード"
            %span.l-single-content__require 必須
            %br/
            = f.password_field :password, autocomplete: "new-password", placeholder: '7文字以上'
          .l-single-conten__password__confirmation
            = f.label :"パスワード(確認)"
            %span.l-single-content__require 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '7文字以上'
            %br/
          - if true
          .l-single-sub-head
            %h3.l-single-sub-head__left-text 本人確認
            %p.l-single-sub-head__text 
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .l-single-conten__user-full-name
            = f.label :"お名前(全角)"
            %span.l-single-content__require 必須
            %br/
            = f.text_field :last_name, autofocus: true, placeholder: '例) 山田'
            = f.text_field :first_name, autofocus: true, placeholder: '例) 彩'
          .l-single-conten__user-full-name-kana
            = f.label :"お名前カナ(全角)"
            %span.l-single-content__require 必須
            %br/
            = f.text_field :last_name_kana, autofocus: true, placeholder: '例) ヤマダ'
            = f.text_field :first_name_kana, autofocus: true, placeholder: '例) アヤ'
          .l-single-conten__user__birthday
            = f.label :"生年月日"
            %span.l-single-content__require 必須
            %br/
            .birthday-select-warp
              = fa_icon 'chevron-down', class: 'arrow-1'
              = fa_icon 'chevron-down', class: 'arrow-2'
              = fa_icon 'chevron-down', class: 'arrow-3'
              != sprintf(f.date_select(:birthday, use_month_numbers: true, date_separator: '%s', 
              start_year: 1868, end_year: Time.current.year, default:'1945-8-16'.to_date), '年','月') + '日生まれ'
            %p.form-into-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。 
          .actions         
            .g-recaptcha-signup-recaptcha
            = image_tag("https://i.gyazo.com/ce5541bb0a64b4d3a55f24edb0f9b140.png")
          .form-text-center-on
            %p.form-text-center 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします 
            %br/  
            = f.submit "次へ進む", class: 'btn'
          .l-single-content-text__right
            本人情報の登録について
.single-header
