.sell-container
  = render 'sell/header'
  .buy-confirmation
    .buy-confirmation__wrapper
      .buy-confirmation__wrapper__head
        %h2 購入内容の確認
      .buy-confirmation__wrapper__item
        .buy-confirmation__wrapper__item__inner
          .buy-confirmation__wrapper__item__inner__image
          = image_tag ('https://item-shopping.c.yimg.jp/i/l/card-museum_vjmp-jp116-kcr'), alt: '', height: '64px', width: '64px', class: ''
          .buy-confirmation__wrapper__item__inner__name 
            遊戯王 オシリスの天空竜
          .buy-confirmation__wrapper__item__inner__form
            .buy-confirmation__wrapper__item__inner__form__price
              %p 
                ¥1,000
                %span 送料込み
            .buy-confirmation__wrapper__item__inner__form__point
              %ul 
                %li
                  %div ポイントはありません
            .buy-confirmation__wrapper__item__inner__form__pay
              %li
                %div 支払い金額
                %div
                  %span ¥6,000
            .buy-confirmation__wrapper__item__inner__form__error 配送先と支払い方法の入力を完了してください。
            .buy-confirmation__wrapper__item__inner__form__purchase
              %input{type: 'submit' ,class: 'purchase-submit',value: '購入する'}
      .buy-confirmation__wrapper__info
        .buy-confirmation__wrapper__info__inner
          %h3 配送先
          .buy-confirmation__wrapper__info__inner__text
            %p 〒579-8003
            %p 大阪府東大阪市日下町1-1-24
            %p 石川勇健
          .buy-confirmation__wrapper__info__inner__change
            = link_to ('/'), class: 'user-infomation-change' do
              変更する
              = fa_icon 'angle-right', class: 'icon'
      .buy-confirmation__wrapper__pay
        .buy-confirmation__wrapper__pay__inner
          %h3 支払い方法
          .buy-confirmation__wrapper__pay__inner__text
            %p 　
            %p /
            %p 　
          .buy-confirmation__wrapper__pay__inner__change
            = link_to ('/'), class: 'user-infomation-change' do
              変更する
              = fa_icon 'angle-right', class: 'icon'
  = render 'sell/footer'