.mypage-wrapper
  = render partial: 'mercari/header'
  .pankuzu ここにパンくず
  .mypage-container
    = render partial: 'users/mypage_information'
    = render partial: 'users/mypage_sidebar'
= render 'mercari/aside'
= render 'mercari/footer'
= render 'mercari/exhibit'