.top-stage-image-item.cloned{style: "width: 100%"}
  = link_to "", "/" , class: "top-stage-image-item-one camp"
.top-stage-image-item.cloned{style: "width: 100%"}
  %div
    .top-stage-image-item-main
      %div
        .top-stage-image-item-main-content
          %h2 
            スマホでかんたん
            %br/
            フリマアプリ
          %p
            メルカリはスマホカメラからすぐに出品できる
            %br/
            購入時も安心な独自システムのアプリです
        .top-stage-image-item-main-store.clearfix
          = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?575670517'), "/", class: "top-stage-image-item-main-store-left", target: "_blank"
          = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?575670517"), "/", class: "top-stage-image-item-main-store-left", target: "_blank"
        = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?575670517")
    #sp-top.top-stage-image-item_visible
      #sp-top-banner
        %h2
          スマホで
          %br/
          かんたん
          %br/
          フリマアプリ
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?575670517')
      #sp-top-dl.clearfix
        = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?575670517"), "/", class: "top-stage-image-item-main-store-left", target: "_blank"
        = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?575670517'), "/", class: "top-stage-image-item-main-store-left", target: "_blank"