%header.header.header-visible
  .header-main
    .header-top
      %h1
        = link_to '/' do
          = image_tag ("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512"), height: '36', width: '134'
      %form.header-top__input{action: "https://www.mercari.com/jp/search/"}
        %input.header-top__input__box{name:"keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        %i.fa.fa-search
    .header-nav-box
      %nav.header-nav-box__left
        %ul.header-nav-box__left__search
          %li
            %h2
              = link_to " ", class:'header-nav-box__root list-parent' do
                %i.fa.fa-list
                %span カテゴリーから探す
          %li
            %h2
              = link_to " ", class:'header-nav-box__root list-parent' do
                %i.fa.fa-tag
                %span プランドから探す
      - if user_signed_in?
        .header-nav-box__right
          %ul
            %li.header-nav-box__right__menu
              = link_to " ", class: 'header-nav-box__right__menu__link' do
                %i.fa.fa-heart
                %span いいね！一覧
            %li.header-nav-box__right__menu
              = link_to " ", class: 'header-nav-box__right__menu__link' do
                %i.fa.fa-bell
                %span お知らせ
            %li.header-nav-box__right__menu
              = link_to  " ", class: 'header-nav-box__right__menu__link'do
                %i.fa.fa-check
                %span やることリスト
            %li.header-nav-box__right__menu.header-nav-box__right__user.header-todo-box.mypage-item-list
              = link_to mypage_index_path, class: 'header-user-icon header-nav-box__right__menu__link' do
                %figure
                  %div.heder-user-icon__face
                    = image_tag ("//static.mercdn.net/images/member_photo_noimage_thumb.png") , width: "32"
                    %span マイページ
      - else
        .header-nav-box__user
          .header-nav-box__user--registration-sign_up
            = link_to "新規会員登録 ", signup_signup_path, class: ' btn-user-red',type:"button"
          .header-nav-box__log-in
            .header-nav-box__user--registration-log_in
              = link_to "ログイン ", new_user_session_path, class: 'btn-user-blue'






