.top-stage-image-item.cloned
  = link_to "", sell_index_path , class: "top-stage-image-item-one"
- @items.each do |item|
  %section.pickup_main-content-items-box
    = link_to mercari_path(item.id) do  
      %figure.pickup_main-content-items-box-photo  
        = image_tag item.images.reverse[0],  class: "pickup_main-content-items-box-photo-img lazyloaded"
      .pickup_main-content-items-box-body
        %h3.pickup_main-content-items-box-body-name.font-2
        = item.name
        .pickup_main-content-items-box-body-num
          .pickup_main-content-items-box-body-num_price.font-5
            ¥
            = item.price
          .pickup_main-content-items-box-body-num_icon.font-2
            = fa_icon 'heart' , class: "pickup_main-content-items-box-body-num_icon_heart"
            %span 3 