= render 'mercari/header'
.details__item
  %h1.details__item__name
    = @item.name
  %p.details__item__wording
    = @item.name
    は@取引回数の取引実績をもつ
    = link_to @item.seller.nickname, "/" 
    さんから出品されました。
    = link_to "@カテゴリー", "/"
    の商品で、
    = @item.region
    から
    = @item.shipping_date
    されます。
  .details__item__main
    .details__item__main__photo
      .details__item__main__photo__owl
        .details__item__main__photo__owl__outer
          .details__item__main__photo__owl__outer__stage
            .details__item__main__photo__owl__outer__stage__item.active
              .details__item__main__photo__owl__outer__stage__item__inner
                = image_tag @item.images.reverse[0], class: 'item_image'
        .details__item__main__photo__owl__disabled
          .details__item__main__photo__owl__disabled__prev prev
          .details__item__main__photo__owl__disabled__next next
        .details__item__main__photo__owl__dots
          - @item.images.reverse.each do |image|
            .details__item__main__photo__owl__dots__dot.active
              %span
              .details__item__main__photo__owl__dots__dot__inner
                = image_tag image
    .details__item__main__price
      %span.details__item__main__price__bold
        = @item.price
      %span.details__item__main__price__tax (税込)
      %span.details__item__main__price__fee
        = @item.postage
    .visible
      .visible__btn
        = link_to "購入画面に進む", comfirm_sell_path(@item), class: "visible__btn__link"
    %table.details__item__main__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to @item.seller.nickname
            %div
              .user__ratings
                = fa_icon "smile-o", class: "raiting__icon"
                %span 3
              .user__ratings
                = fa_icon "meh-o",class: "raiting__icon"
                %span 3
              .user__ratings
                = fa_icon 'frown-o', class: "raiting__icon"
                %span 3
        %tr
          %th カテゴリー
          %td
        %tr
          %th ブランド
          %td @アイテムのブランド
        %tr
          %th 商品の状態
          %td 
            = @item.state
        %tr
          %th 配送料の負担
          %td 
            = @item.postage
        %tr
          %th 配送の方法
          %td 
            = @item.way
        %tr
          %th 配送元地域
          %td
            = link_to @item.region ,"/"
        %tr
          %th 発送日の目安
          %td 
            = @item.shipping_date
  .details__item__price
    %span.details__item__price__bold
      = @item.price
    %span.details__item__price__tax (税込)
    %span.details__item__price__fee
      = @item.postage
  = link_to "購入画面に進む",comfirm_sell_path(@item), class: "buy-btn"
  .details__item__description.14f
    %p.details__item__description__inner 
      = @item.description
  .details__item__container.clearfix
    .details__item__container__left
      = link_to '/',class: 'icon_btn icon_link' do
        = fa_icon 'heart'
        %span.span いいね
        %span.span 20
      = link_to "/",class: "icon_btn icon_report" do
        = fa_icon 'flag'
        %span.span 不適切な商品の報告
    .details__item__container__right
      = link_to '/' do
        = fa_icon 'lock'
        %span あんしん・あんぜんへの取り組み
.details__message
  .details__message__space
%ul.nav__item
  %li.nav__item__prev
    - if @item.previous.present?
      = link_to mercari_path(@item.previous.id) do
        = fa_icon 'chevron-left'
        = @item.previous.name
  %li.nav__item__next
    - if @item.next.present?
      = link_to mercari_path(@item.next.id) do
        = @item.next.name
        = fa_icon 'chevron-right'
.social__icon
  .social__icon__text
    .social__icon__text__script
  %ul.social__icon__media
    %li.social__icon__media__box
      = link_to '/' do
        = fa_icon 'facebook-square', class: 'facebook'
    %li.social__icon__media__box.twitter
      = link_to '/' do
        = fa_icon 'twitter', class: 'twitter'
    %li.social__icon__media__box.hidden_line
      = link_to '/' do
        = fa_icon 'line', class: 'line'
    %li.social__icon__media__box.pinterest
      = link_to '/' do
        = fa_icon 'pinterest',class: 'pinterest'
.items__user
  .items__user__container
    %h2.items__user__container__head
      = link_to  "/" do
        = @item.seller.nickname 
        さんのその他の出品
  = render 'mercari/user_items'
.items__user__container
  %h2.items__user__container__head
    = link_to "@同カテゴリーの出品アイテム", '/'
  .items__user__container__content.clearfix
    .items__user__container__content__box
      = link_to '/' do
        .items__user__container__content__box__photo
          = image_tag 'https://static.mercdn.net/thumb/photos/m27044606903_1.jpg?1567147725'
        .items__user__container__content__box__body
          %h3.items__user__container__content__box__body__name
            @アイテム名
          .items__user__container__content__box__body__num
            .items__user__container__content__box__body__num__price
              ¥@アイテム値段
            .icon
              = fa_icon 'heart'
              %spna 5
%nav.bread-crumbs
  %ul
    %li{}
      = link_to '/' do
        %span{itemprop: "title"} メルカリ
      = fa_icon 'chevron-right'
    %li{}
      %span{itemprop: "title"}
        = @item.name
= render 'mercari/aside'
= render 'mercari/footer'
