= render 'mercari/header'
%main.card.clearfix
  %div.card__box
    %section.card__box--container
      %h2.card__box--container--head クレジットカード情報入力
      %form#add-card-form.card__box--inner.card__box--registration{action: "https://www.mercari.com/jp/mypage/card/add/", "data-adyen-id" => "card-form", method: "POST", novalidate: "novalidate" }
        %input{type: "hidden", name:"", value:""}
        %div.card__box--content
          %div.card__box--form-group
            %label{for: "payment_card_no"} カード番号
            %span.form-require 必須
            %input{ type:"text",　value:"", placeholder:"半角数字のみ", "data-input-type": "card",id:'payment_card_no', class: 'card__box--input', maxlength:"19"}
            %ul#card-on-error-wrapper.error-text
            %ul.card-list
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2394192159"), width: '49', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2394192159"), width: '34', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2394192159"), width: '30', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2394192159"), width: '32', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2394192159"), width: '21', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2394192159"), width: '32', height: '20', alt:""
              %li
                =image_tag ("//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2394192159"), width: '32', height: '20', alt:""
          %div.card__box--form-group.signup-form-expire.left
            %label{for:"card__expiration--date-mm"}有効期限
            %span.form-require 必須
            %br
            %div.select-wrapper.half
              %select#card__expiration--date-mm.select-default
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fa.fa-chevron-down
              %span 月
            %div.select-wrapper.half
              %select#card__expiration--date-yy.select-default
                %option{value:"19"} 19
                %option{value:"20"} 20
                %option{value:"21"} 21
                %option{value:"22"} 22
                %option{value:"23"} 23
                %option{value:"24"} 24
                %option{value:"25"} 25
                %option{value:"26"} 26
                %option{value:"27"} 27
                %option{value:"28"} 28
                %option{value:"29"} 29
              %i.fa.fa-chevron-down
              %span 年
              %ul#mm-error-expire-outer.error-text
              %ul#yy-error-expire-outer.error-text
          %div.card__box--form-group
            %label{for:"payment_card_security_code"} セキュリティコード
            %span.form-require 必須
            %input#payment_card_security_code.card__box--input{placeholder: "カード背面4桁もしくは3桁の番号", type:"number", value: ""}
            %ul#security-code-error-outer.error-text
              %div.signup__securitiy--code{"data-js": "show-tips-toggle"}
                %span.form-puestion ?
                カード裏面の番号とは？
              %div.signup__securitiy--info{"data-js": "show-tips-outer"}
              = image_tag(" ")
            %input#user_id{name: "", type: "hidden", value:""}
            %input#encrypted_card_data{name: "encrypted_card_data", type: "hidden"}
            %p#primariy-erro.error-text
            %input{name: "after_seave_callbarck", type: "hidden", value: ""}
            %button#submit-button.btn__default.btn__default--red{type: "button"} 追加する
            %script{async: "", src: ""}
            %script{async: "", src: ""}
    = render './users/mypage_sidebar'
= render './mercari/aside'
= render './mercari/footer'
= render './mercari/exhibit'